{% extends "layouts/base.html" %}

{% block content %}
<div class="mt-2">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#exampleModal">Add Customer</button>
                    {% include "dashboard/customer/create.html" %}
                </div>
                <div class="col-md-4 mt-2">
                    <input type="text" class="form-control" placeholder="search">
                </div>
            </div>
            <table class="table table-responsive table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="" data-bs-toggle="modal" data-bs-target="#editModal">
                                <i class="ti ti-pencil"></i>
                                {% include "dashboard/customer/edit.html" %}
                            </a>&nbsp;
                            <a href="">
                                <i class="ti ti-trash text-danger"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

